# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Database
*.db
*.sqlite3
instance/

# Environment secrets
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# Binaries
*.exe

# Local Tunnel & Temp
ngrok_url.txt
*.docx
scratch/



